name: CI

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      options: --user 1001
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium, firefox, webkit]
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version-file: ".nvmrc"
      - uses: metadaoproject/setup-solana@v1.0
      - run: pnpm install
      - run: ./scripts/run-localnet-and-seed.sh --ci
      - run: pnpm exec playwright test --project=${{ matrix.browser }}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && failure() }}
        with:
          name: test-results-${{ matrix.browser }}
          path: test-results/
          retention-days: 30
